.create-tour-formbody{
    max-width: 500px;
    margin: auto;
}
.create-tour-formbody .form-group{
    justify-content: center;
    flex-direction: column;
    text-align: start;
}
.create-tour-formbody .form-group *{
    margin: 5px;
}
.create-tour-formbody .form-group input, select{
    max-width: 500px;
    height: 30px;
}
